.content-contact{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-contact p{
    font-size: 1.6em;
    margin: 5px 0;
    font-family: 'DM Sans', sans-serif;
}

p i{
    font-weight: normal;
    margin-top: 15px;
}

p .ri-whatsapp-line{
    color: rgb(57, 185, 57);
}

.content-contact .links{
    display: flex;
    gap: 10px;
}

.links img{
    width: 40px;
}

#mail{
    cursor: pointer;
}

#copied{
    width: fit-content;
    background: rgba(224, 224, 224, 0.7);
    position: fixed;
    bottom: -100%;
    right: 50%;
    transform: translate(50%, 0);
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: bold;
    z-index: 5;
    transition: 0.5s;
    backdrop-filter: blur(3px);
}

#copied.active{
    bottom: 5%;
}