@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

body{
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

header #icon{
    left: 0%;
    right: 5%;
}

.lang{
    left: 5%;
    right: unset;
}

nav{
    right: -65%;
    left: 0;
}

nav div .arrow{
    position: absolute;
    left: 0%;
    right: unset;
    transition: 0.3s;
    transform: translate(0%, -50%);
    color: #fafafa;
    font-size: 1.5em;
}

.owl-carousel{
    direction: ltr;
}

.header::before{
    background: rgb(250,250,250);
    background: linear-gradient(270deg, rgba(250,250,250,1) 0%, rgba(250,250,250,0) 80%);
}

@media only screen and (min-width: 1024px){
    
    header .text{
        width: fit-content;
        margin-right: 5%;
    }

    nav{
        right: unset;
        top: 5px;
        left: calc(5% + 40px);
    }
    
    nav div{
        padding: 0 0 0 25px;
        margin-left: 5px;
        margin-right: 0;
    }
    
    nav #services-btn, nav #work-btn{
        margin-left: 25px;
        margin-right: 0;
    }
    
    nav #services, nav #work {
        left: unset;
        right: -30%;
        width: 180px;

    }
    
    nav div .arrow{
        top: 25px;
    }

    .grid-header .btns{
        float: left;
        direction: ltr;
    }

    .grid .grid-item{
        left: unset;
        right: 0;
    }
}

@media only screen and (min-width: 1560px){
    nav{
        left: 40px;
    }    
}