@import url('font.css');

body{
    margin: 0;
    padding: 0;
    padding-top: 60px;
    background-color: #fafafa;
    font-family: 'FreightSansProBook';
}


header{
    background: #111111;  
    padding: 5px 0;
    position: fixed;
    width: 100%;
    max-width: 100%;
    top: 0;
    z-index: 2;
}

header div{
    margin: 0;
}

header #icon{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
}

header .hamburger{
    height: 3px;
    margin: 0;
    width: 28px;
    background-color: #fafafa;
    position: relative;
    transition: 0.3s;
    border-radius: 1px;
}

header .hamburger:before{
    content: '';
    height: 3px;
    width: 28px;
    background-color: #fafafa;
    position: absolute;
    transition: 0.3s;
    top: -10px;
    border-radius: 1px;
}

header .hamburger:after{
    content: '';
    height: 3px;
    width: 28px;
    background-color: #fafafa;
    position: absolute;
    top: 10px;
    transition: 0.3s;
    border-radius: 1px;
}

header #icon.active .hamburger{
    background-color: rgba(255, 255, 255, 0);
}

header #icon.active .hamburger:before{
    transform: rotate(45deg);
    top: 0;
    border-radius: 3px;
}

header #icon.active .hamburger:after{
    transform: rotate(135deg);
    top: 0;
    border-radius: 3px;
}

header h1{
    margin: 0;
    text-align: center;
    color: #fafafa;
    text-transform: uppercase;
    font-family: 'FreightSansProBold';
}

header h5{
    color: #fafafa;
    text-align: center;
    margin: -5px 0 0;
    letter-spacing: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

header h1 a, header h5 a{
    color: #fafafa;
    text-decoration: none;
}

header h5 a .last-letter{
    letter-spacing: normal;
}

.lang{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lang a{
    color: #f5f5f7;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.lang a img{
    height: 100%;
}


nav{
    width: 65%;
    background-color: #111111f1;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    left: -65%;
    z-index: 5;
    transition: 0.3s;
}

nav div{
    margin: 15px 0px;
    width: 100%;
    position: relative;
}

nav div a, nav div p{
    color: #fafafa;
    text-decoration: none;
}

nav div p{
    margin: 0;
    font-size: 1.5em;
}

nav div .arrow{
    position: absolute;
    top: 20px;
    right: 0%;
    transition: 0.3s;
    transform: translate(0%, -50%);
    color: #fafafa;
    font-size: 1.5em;
}

nav #services, nav #work {
    margin: 0px 15px 15px;
    display: none;
    transition: 0.5s;
}

nav #services p, nav #work p{
    font-size: 20px;
    padding: 5px 0;
}

.owl-carousel{
    height: 40vh;
}

.owl-stage-outer{
    height: 100%;
}

.owl-carousel div img{
    height: 40vh !important;
}

.owl-nav{
    width: 100%;
}

.owl-prev{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    background: rgb(17,17,17) !important;
    background: linear-gradient(90deg, rgba(17,17,17,0.6) 0%, rgba(159,221,235,0) 100%) !important;
}

.owl-next{
    position: absolute;
    top: 0;
    right: 0%;
    height: 100%;
    width: 15%;
    background: rgb(17,17,17) !important;
    background: linear-gradient(90deg, rgba(159,221,235,0) 0% , rgba(17,17,17,0.6) 100%)  !important;
}

.owl-dots{
    text-align: center;
    position: absolute;
    margin: 0;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.owl-dot{
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.541) !important;
    border-radius: 100%;
    margin: 0 5px;
    transition: 0.3s;
}

.owl-dot.active{
    background-color: #fafafa !important;
}

.owl-next span, .owl-prev span{
    font-size: 32px;
    color: #fafafa;
}

.grid-container{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    box-sizing: border-box;
}

.grid-header h1{
    color: #212121;
    display: inline-block;
    width: fit-content;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.7em;
    margin-bottom: 0;
    font-family: 'FreightSansProBold';
}

@media only screen and (min-width: 360px){
    .grid-header h1{
        font-size: 2em;
    }    
}

.grid-header .btns{
    display: none;
}

.grid{
    display: grid;
    grid-template-columns: 48% 48% ;
    grid-column-gap: 4%;
    grid-row-gap: 15px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}

.grid-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.grid-services{
    border-radius: 20px;
    border: 1px solid #111111;
    box-shadow: 1px 1px 1px gray;
}

.grid-services a{
    text-decoration: none;
    height: 100%;
    padding: 10px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-item .img{
    width: 100%;
    height: 130px !important;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}

.grid-item img{
    width: 100%;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.603);
}

.grid-services img{
    box-shadow: none;
    width: auto;
    max-width: 100%;
}

.grid-services img{
    filter: grayscale(60%);
    transition: 0.5s;
}

.grid-services a:hover img{
    filter: grayscale(0%);
}

.grid-work a{
    text-decoration: none;
}

.grid-item p{
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: #212121;
    font-size: 0.8em;
    line-height: 1.5;
}

.grid-work p{
    font-size: 1.5em;
}

.grid-services .name{
    font-size: 1.5em;
    line-height: 1;
    margin: 10px 0;
}

.grid-services button{
    width: 120px;
    background-color: #111111;
    color: #fafafa;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    margin-top: 15px;
    padding: 7px 0;
}

footer{
    margin-top: 50px;
    padding: 5% 0 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f5f5f7;
}

footer .footer-about{
    margin: 0 5% 0;
    box-sizing: border-box;
}

footer h4{
    margin: 0;
    color: #212121;
    box-sizing: border-box;
}

footer p{
    margin: 5px 0;
    color: #212121;
    box-sizing: border-box;
}

footer .footer-contact{
    margin: 20px 5%;
    width: 100%;
    box-sizing: border-box;
}

footer .footer-contact .links{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0;
}

footer .footer-contact p {
    /* display: inline-block; */
    width: fit-content;
    margin: 20px 0px;
    box-sizing: border-box;

}

footer .footer-contact a{
    color: #212121;
    box-sizing: border-box;
    text-decoration: none;
}

footer .footer-contact img{
    width: 40px;
}

@media only screen and (min-width: 360px){
    footer .footer-contact img{
        width: 45px;
    }    
}

@media only screen and (min-width: 375px){
    footer .footer-contact img{
        width: 50px;
    }    
}

@media only screen and (min-width: 411px){
    footer .footer-contact img{
        width: 55px;
    }    
}

footer div{
    width: fit-content;
    margin: auto;
    box-sizing: border-box;
}

footer img{
    width: 100px;
    margin: 10px auto;
    margin: auto;
}

.rights{    
    padding: 10px;
    width:100%;
    text-align: center;
    color: #f5f5f7;
    background-color: #212121;
    font-size: 12px;
    box-sizing: border-box;
    margin-bottom: 0;

}

.rights a{
    color: #f5f5f7;
    cursor: pointer;
}


@media only screen and (min-width: 768px){
    
    
    nav{
        width: 50%;
        padding: 2% 5%;
    }
    
    nav div{
        margin: 20px 0px;
    }
    
    nav div .arrow{
        right: 0%;
    }
    
    nav #services p, nav #work p{
        font-size: 1.5em;
    }

}


@media only screen and (min-width: 1024px){
    
    header .text{
        width: fit-content;
        margin-left: 5%;
    }

    header .hamburger{
        display: none;
    }
    nav{
        width: 65%;
        position: fixed;
        top: 0px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        padding: 0;
        left: unset;
        text-align: right;
        right: calc(5% + 40px);
        background-color: #111111;
    }
    
    nav div{
        margin:0px ;
        display: inline-block;
        padding: 0 25px 0 0;
        margin-right: 5px;
        width: fit-content;
    }
    nav div:last-child{
        padding: 0;
    }
    
    nav #services-btn, nav #work-btn{
        position: relative;
        height: fit-content;
        cursor: pointer;
        margin-right: 25px;
    }
    
    nav div p{
        width: fit-content;
        position: relative;
        font-size: 1.3em;
    }

    nav div p::before{
        content: '';
        height: 2px;
        width: 0%;
        transition: 0.3s;
        position: absolute;
        bottom: -10%;
        background-color: #f5f5f7;
        
    }

    nav div p:hover::before{
        width: 100%;
    }

    nav div .arrow{
        right: 0px;
        top: 18px;
        font-size: 1.25em;
    }
    
    nav #services, nav #work {
        position: absolute;
        top: 110%;
        margin: 0;
        width: 160px;
        left: -30%;
        background-color: #111111;
        padding: 20px;
        border-radius: 15px;
        text-align: left;

    }
    
    nav #services p, nav #work p{
        font-size: 1.15em;
    }
    
    .owl-carousel{
        height: 350px;
    }
   
    .owl-carousel div img{
        height: 350px !important;
    }

    .owl-prev{
        width: 10%;
    }
    
    .owl-next{
        width: 10%;
    }
    
    .grid-container{
        margin-top: 35px;
    }

    .grid-header .btns{
        float: right;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    
    .grid-header .btns button{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #212121;
        background: none;
        font-size: 1em;
        font-weight: bold;
        padding: 7px 0;
        margin: 0 3px 0 0;
        cursor: pointer;
    }
    
    .grid-header .btns button:last-child{
        margin: 0 0 0 3px;
    }
    
    .grid-header .btns button.disabled{
        border-color: #c7c3bf;
    }

    .grid{
        display: grid;
        grid-template-columns: 21.5% 21.5% 21.5% 21.5% 21.5% 21.5%;
        overflow-x: hidden;
        grid-column-gap: 4%;
        grid-row-gap: 0px;
        width: 100%;
        box-sizing: border-box;
    }

    .grid .grid-item{
        position: relative;
        left: 0%;
        transition: 1s ease;
    }

    .grid-services a{
        height: 100%;
        padding: 20px 40px;
    }

    .grid-item .img{
        width: 100%;
        height: 160px !important;
        justify-content: center;
    }

    .grid-item .img .packaging-img{
        width: 90%;
    }
    
    .grid-item .img .branding-img{
        width: 82%;
    }

    footer{
        padding-left: 0;
        padding-right: 0;
        padding-top: 3%;
        padding-bottom: 3%;
        display: block;
    }
    .content-footer{
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        grid-template-columns: 31.33% 31.33% 31.33%;
        grid-column-gap: 3%;
    }

    footer .footer-contact{
        width: fit-content;
        margin: auto;
    }

    footer .footer-contact a{
        margin: 0;
        margin-right: 5px;
    }

    footer .footer-contact img{
        width: 40px;
    }

}

@media only screen and (min-width: 1566px){
    .logo-header{
        position: relative;
    }

    .content{
        max-width: 1566px;
        margin: auto;
    }
    .content-nav{
        width: 1366px;
        position: fixed;
        top: 0%;
        right: 50%;
        transform: translate(50%, 0%);
        z-index: 6;
    }
    nav{
        width: fit-content;
        top: 0px;
        right: 40px;
        left: unset;
    }
    .owl-carousel{
        width: 90% !important;
        margin: auto;
    }
}